body {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/01/dd/97/01dd97eacc9079ae91d3330c2aef6278.gif') !important;
  background-size: cover !important;
}
p {
    font-size: 20px;
    color: crimson;
}

input {
    color: palegreen;
}
