body {
  background: url('https://media.giphy.com/media/bq6Ohp2P8DszK/giphy.gif') !important;
  background-size: auto !important;
}
p {
    font-size: 20px;
    color: crimson;
}

input {
    color: palegreen;
}

::selection {
    color: black;
    background: yellow;
}

a:visited {
    color: deeppink;
}

input:focus {
    background-color: palegreen;
}

a:hover {
    color: aqua;
}

a:link {
    color: blueviolet;
}

a:active {
    color: dimgrey;
}
